<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="hu">
<head>
  <meta charset="UTF-8">
  <title>Időpont szerkesztése</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.3.1/dist/flatly/bootstrap.min.css">
</head>
<body class="container d-flex flex-column justify-content-center align-items-center vh-100">

<div class="card p-4 shadow-lg" style="max-width: 500px; width: 100%">
  <h1 class="h3 text-center mb-4">Időpont szerkesztése</h1>

  <form th:action="@{'/appointment/edit/' + ${appointment.id}}" method="post">
    <div class="form-group mb-3">
      <label for="doctorId" class="font-weight-bold">Orvos ID</label>
      <input type="number" class="form-control" id="doctorId" name="doctorId" required
             th:value="${appointment.doctor.id}">
    </div>

    <div class="form-group mb-4">
      <label for="dateTime" class="font-weight-bold">Időpont kiválasztása</label>
      <input type="datetime-local" class="form-control" id="dateTime" name="dateTime"
             th:value="${#temporals.format(appointment.date, 'yyyy-MM-dd''T''HH:mm')}" required>

    </div>

    <button type="submit" class="btn btn-primary btn-block">Mentés</button>
  </form>
</div>

</body>
</html>
