<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Orvos részletei</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.3.1/dist/flatly/bootstrap.min.css">
</head>
<body class="container mt-5">

<h1 class="text-center text-uppercase mb-4" th:text="${patient.name}">Dr. Valaki</h1>

<h5 class="mb-3">Időpontok</h5>
<table class="table table-bordered table-hover">
  <thead>
  <tr>
    <th>Kezelő orvos</th>
    <th>Szakterület</th>
    <th>Időpont</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="appointment : ${patient.appointments}">
    <td th:text="${appointment.doctor.name}">Példa Béla</td>
    <td th:text="${appointment.doctor.department}"></td>
    <td th:text="${appointment.date}">2025-06-05 14:00</td>
  </tr>
  </tbody>
</table>

<a class="btn btn-secondary" th:href="@{/patients/list}">Vissza</a>

</body>
</html>
