<!DOCTYPE html>
<html lang="hu">
<head>
    <meta charset="UTF-8">
    <title>Online Kórház - Főoldal</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.3.1/dist/flatly/bootstrap.min.css">
</head>
<body>

<div class="container">
    <div class="jumbotron">
<!--        <img src="/images/img.png" alt="Saját kép" />-->

        <h1 class="display-4">Üdvözöljük az Online Kórházi Rendszerben</h1>
        <p class="lead">Foglaljon időpontot orvosához egyszerűen és gyorsan!</p>
        <hr class="my-4">
        <p>Válasszon az alábbi lehetőségek közül:</p>
        <a class="btn btn-primary" href="/doctors/list">Orvosok listája</a>
        <a class="btn btn-primary" href="/patients/list">Betegek megtekintése</a>
        <a class="btn btn-success" href="/appointment">Időpont foglalás</a>
    </div>
</div>

</body>
</html>
