<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Orvosok listája</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.3.1/dist/flatly/bootstrap.min.css">
</head>
<body class="container mt-5">

<h1 class="mb-4">Orvosok listája</h1>
</div>


<table class="table table-bordered table-hover">
    <thead class="thead-dark">
    <tr>
        <th>Azonosító</th>
        <th>Név</th>
        <th>Szakterület</th>
        <th>Törlés</th>
        <th>Szerkesztés</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="doctor : ${doctors}">
        <td th:text="${doctor.id}">1</td>
        <td>
            <a th:href="@{'/doctors/details/' + ${doctor.id}}" th:text="${doctor.name}">Név</a>
        </td>
        <td th:text="${doctor.department}">Kardiológia</td>
        <td>
            <a th:href="@{'/doctors/delete/'+ ${doctor.id}}" onclick="return confirm('Biztos törölni szeretnéd?');" class="btn btn-danger btnsm">Törlés</a>
        </td>
        <td>
            <a th:href="@{'/doctors/edit/' + ${doctor.id}}" class="btn btn-primary btn-sm">Szerkesztés</a>

        </td>
    </tr>
    </tbody>
</table>
<a class="btn btn-primary" href="/doctors/add">Orvosok hozzáadása</a>
<a class="btn btn-primary" href="/patients/list">Betegek megtekintése</a>
<a class="btn btn-primary" href="/appointment">Időpont foglalás</a>
</body>
</html>

